html body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  background: #eff1f5;
}

#main {
  margin: 0 12%;
}

h1 {
  margin: 3em 0 0 0;
  font-size: 4em;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 3em;
}

h3 {
  margin: 0px;
  padding: 0px;
  font-size: 1.5em;
}

h4 {
  color: #6C63FF;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

.toCome {
  text-decoration: line-through;
}

/*
/** GRID exemple
*/
.grid {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 0px;
  margin: 0px;
  grid-gap: 0px;
  grid-template-areas: "index" "cv" "projets" "outils" "sites";
}

.index {
  grid-area: "index";
  background: blue;
}

.cv {
  grid-area: "cv";
  background: orange;
}

.projets {
  grid-area: "projets";
  background: yellow;
}

.outils {
  grid-area: "outils";
  color: white;
  background: black;
}

.sites {
  grid-area: "sites";
  background: green;
}

/*
/** GRID for my skills
*/
.skills {
  display: grid;
  width: auto;
  height: 40em;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  left: 2.5%;
  border-radius: 20px;
  background: white;
  box-shadow: 0 0 0 1px #e5ebf7;
  color: #141c3a;
}
.skills .ulDouble {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.skills ul {
  display: flex;
  flex-flow: column wrap;
}

.flexSkills {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

.backEnd {
  box-shadow: 0 0 0 1px #e5ebf7;
}

/**
 * GRID for my projects
 */
.projects {
  margin-top: 4em;
  display: grid;
  width: auto;
  grid-template-rows: 30em 30em;
  gap: 2em;
  color: #141c3a;
}

.gridProjects {
  display: grid;
  width: auto;
  grid-template-columns: 1fr 1fr;
  border-radius: 15px;
  background: white;
  box-shadow: 0 0 0 1px #e5ebf7;
}

/**
 * GRID for contact me
 */
.networks {
  margin: 5em 0 0 0;
  display: flex;
  justify-content: center;
}
.networks div {
  margin: 0 30px 0 30px;
  background: white;
  height: 3em;
  width: 3em;
  border-radius: 50%;
}
.networks div img {
  position: relative;
  top: 10px;
}

.button {
  background: #2c3e50;
  border: none;
  border-radius: 30px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  opacity: 0.7;
}

.title:after {
  width: 50px;
  height: 4px;
  margin: 10px;
  content: "";
  position: absolute;
  bottom: 1;
  background-color: #F97F51;
  transform: translateX(-80%);
}

.section {
  padding-top: 15em;
  height: 60em;
  border: 1px solid transparent;
}

#welcome {
  padding-top: inherit;
}

#presentation {
  padding-top: inherit;
}

#description {
  margin: 4em 0 0 0;
  padding: 0;
  height: auto;
  width: 100%;
  border: 1px solid transparent;
  font-size: 1.3em;
}

.svgSkills img {
  height: 100px;
  width: 150px;
}

#projects {
  margin-bottom: 5em;
}

.textProject {
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
  width: 60%;
  justify-self: center;
}
.textProject h3 {
  font-size: 2em;
  margin-top: 3em;
}
.textProject em {
  font-size: 0.5em;
}
.textProject button {
  margin: auto;
}

.svgProject--left {
  border-radius: 15px 0 0 15px;
}
.svgProject--right {
  border-radius: 0 15px 15px 0;
}
.svgProject img {
  width: 100%;
  height: 100%;
}

.project_1 {
  background: #6ab04c;
}
.project_2 {
  background: #e056fd;
}

#contact {
  height: inherit;
  margin-bottom: 10em;
}
#contact .textContact {
  margin: 4em 0 1em 0;
}

nav {
  display: flex;
  flex-flow: row-reverse;
  background: transparent;
}
nav div {
  margin: 20px 15px 0px 15px;
  font-size: 0.8em;
}

.center {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
