nav {
    display: flex;
    flex-flow: row-reverse;
    background: transparent;
    div {
        font-family: "lora", sans-serif;
        text-transform: uppercase;
        font-weight: 500;
        margin: 20px 15px 0px 15px;
        font-size: .8em;
    }
}
.center {
    text-align: center;
}