.title:after {
    width: 50px;
    height: 4px;
    margin: 10px;
    content: "";
    position: absolute;
    bottom: 1;
    background-color: #F97F51;
    transform: translateX(-80%);
}

.standardTripleColumns {
    min-height: 670px;
}

.standardCard {
    min-height: 450px;
    &:hover {
        opacity: .9;
        transition-duration: 800ms;
        transform: scale(1.05);
    }
}

.github_btn {
    z-index: 3;
    position: relative;
}