.title:after {
    width: 50px;
    height: 4px;
    margin: 10px;
    content: "";
    position: absolute;
    bottom: 1;
    background-color: #F97F51;
    transform: translateX(-80%);
}

.expoCard {

}

.standardCard {
    
}