html body{
    margin: 0px;
    padding: 0px;
    background: #f5f6fa;
    height: 100%;
    width: 100%;
}
#main {
    margin: 0 12%;
}
h1 {
    margin: 3em 0 0 0;
    font-size: 4.2em;
}

h2 {
    margin: 0;
    font-size: 3em;
}