/*
/** GRID exemple
*/
.grid {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 0px;
    margin: 0px;
    grid-gap: 0px;
    grid-template-areas:
    "index"
    "cv"
    "projets"
    "outils"
    "sites";
}
.index {
    grid-area: "index";
    background: blue;
}
.cv {
    grid-area: "cv";
    background: orange;
}
.projets {
    grid-area: "projets";
    background: yellow;
}
.outils {
    grid-area: "outils";
    color: white;
    background: black;
}
.sites {
    grid-area: "sites";
    background: green;
}

/*
/** GRID for my skills
*/
.skills {
    display: grid;
    width: auto;
    height: 40em;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    left: 2.5%;
    border-radius: 20px;
    background: white;
    box-shadow: 0 0 0 1px #e5ebf7;
    color: #141c3a;
    .ulDouble {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    ul {
        display: flex;
        flex-flow: column wrap;
    }
}
.flexSkills {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;

}
.frontEnd {

}
.backEnd {
    box-shadow: 0 0 0 1px #e5ebf7;
}
.developer {
}

/**
 * GRID for my projects
 */

.projects {
    margin-top: 4em;
    display: grid;
    width: auto;
    grid-template-rows: 30em 30em;
    gap: 2em;
    background: white;
    color: #141c3a;

}
.gridProjects {
    display: grid;
    width: auto;
    grid-template-columns: 1fr 1fr;
    border-radius: 15px;
    border: 1px solid black;
}
.textProject {
    
}
.svgProject {
    img {
        width: auto;
        height: 500px;
        border: 1px solid black;
    }

}
