.section {
    padding-top: 10em;
}
#welcome {
    height: 59.3em;
    border: 1px solid transparent;
}

#presentation {
    height: 59.3em;
    border: 1px solid transparent;
}
#description {
    margin-top: 4em;
    padding: 1em;
    height: 20em;
    width: 100%;
    border: 1px solid transparent;
    font-size: 1.3em;
}
.svgSkills {
    img {
        height: 100px;
        width: 150px;
    }
}

#projects {
    height: 59.3em;
    border: 1px solid transparent;
}
#contact {
    height: 59.3em;
    border: 1px solid transparent;
}

