.section {
    padding-top: 15em;
    height: 60em; //59.3em ?
    border: 1px solid transparent;
}
#welcome {
    padding-top: inherit;
}

#presentation {
    padding-top: inherit;
}
#description {
    margin: 4em 0 0 0 ;
    padding: 0;
    height: auto;
    width: 100%;
    border: 1px solid transparent;
    font-size: 1.3em;
}
.svgSkills {
    img {
        height: 100px;
        width: 150px;
    }
}

#projects {
    margin-bottom: 5em;
}
#contact {
    height: inherit;
    margin-bottom: 10em;
    .textContact {
        margin: 4em 0 1em 0;
    }
}

