.section {
    padding-top: 10em;
}
#welcome {
    height: 59.3em;
    border: 1px solid black;
}
#presentation {
    height: 59.3em;
    border: 1px solid black;
}
#projects {
    height: 59.3em;
    border: 1px solid black;
}
#contact {
    height: 59.3em;
    border: 1px solid black;
}
#description {
    margin-top: 4em;
    height: 20em;
    width: 100%;
    background: blue;
    border: 1px solid black;
}
