html body{
    margin: 0 0 0 0;
    padding: 0px;
    height: 100%;
    width: 100%;
    background-color: #eff1f5;
}

                //          Override Fonts                //

.nav-link {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    margin: 20px 15px 0px 15px;
    font-size: .8em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
}
p {
    font-family: 'Lora', serif;
}


                //          HERO bg                //

.app { // Hide to ajust bg
    position: relative;
    overflow-x: hidden;
    min-height: 100vh;
}

section.home-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    z-index: 0;
    //background-image: linear-gradient(to bottom left,#380055,#1289a7);
}
.hero-pattern-bg {
    width: 1340px;
}
.bero-pattern-bg {
    width: 1700px;
}

.hero-bg, .hero-pattern-bg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.bero-bg, .bero-pattern-bg {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.hero-bg {
    width: 100%;
    height: 100%;
}
.bero-bg {
    width: 100%;
    height: 100%;
}
.hero-pattern-bg img {
    display: block;
    width: 100%;
}
.bero-pattern-bg img {
    display: block;
    width: 100%;
}




