html body{
    margin: 0 0 5em 0;
    padding: 0px;
    height: 100%;
    width: 100%;
    background: url(../../../../waveTop.svg) top no-repeat, url(../../../../waveBot.svg) bottom no-repeat;
    background-color: #eff1f5;
}
.nav-link { //Override Bs4
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    margin: 20px 15px 0px 15px;
    font-size: .8em;
}

/*                              CLASSES                             */
.toCome {// Languages and tools not learned yet
    opacity: .5;
}
