html body{
    margin: 0 0 5em 0;
    padding: 0px;
    height: 100%;
    width: 100%;
    background: url(../../../../waveTop.svg) top no-repeat, url(../../../../waveBot.svg) bottom no-repeat;
    background-repeat: no-repeat;
    background-color: $body-color;
}
/*                              TITLES                          */

/*                              BALISES                             */
a {
    text-decoration: none;
    color: black;
}
ul {
    list-style-type: none;
}
/*                              CLASSES                             */
.toCome {// Languages and tools not learned yet
    opacity: .5;
}
