@font-face {font-family: "lora";
    src: url("../../../fonts/Lora/Lora-Bold.ttf");
    src: url("../../../fonts/Lora/Lora-BoldItalic.ttf");
    src: url("../../../fonts/Lora/Lora-Italic-VariableFont_wght.ttf");
    src: url("../../../fonts/Lora/Lora-Italic.ttf");
    src: url("../../../fonts/Lora/Lora-Medium.ttf");
    src: url("../../../fonts/Lora/Lora-MediumItalic.ttf");
    src: url("../../../fonts/Lora/Lora-Regular.ttf");
    src: url("../../../fonts/Lora/Lora-SemiBold.ttf");
    src: url("../../../fonts/Lora/Lora-SemiBoldItalic.ttf");

    //src: url("../../../fonts/Lora/Lora-VariableFont_wght.ttf");
}

@font-face {font-family: "montSerrat";
    src: url("../../../fonts/montSerrat/Montserrat-Black.ttf");
    src: url("../../../fonts/montSerrat/Montserrat-BlackItalic.ttf");
    src: url("../../../fonts/montSerrat/Montserrat-Bold.ttf");
    src: url("../../../fonts/montSerrat/Montserrat-BoldItalic.ttf");
    src: url("../../../fonts/montSerrat/Montserrat-ExtraBold.ttf");
    src: url("../../../fonts/montSerrat/Montserrat-ExtraBoldItalic.ttf");
    src: url("../../../fonts/montSerrat/Montserrat-ExtraLight.ttf");
    src: url("../../../fonts/montSerrat/Montserrat-ExtraLightItalic.ttf");
    src: url("../../../fonts/montSerrat/Montserrat-Italic.ttf");
    src: url("../../../fonts/montSerrat/Montserrat-Light.ttf");
    src: url("../../../fonts/montSerrat/Montserrat-LightItalic.ttf");
    src: url("../../../fonts/montSerrat/Montserrat-Medium.ttf");
    src: url("../../../fonts/montSerrat/Montserrat-MediumItalic.ttf");
    src: url("../../../fonts/montSerrat/Montserrat-Regular.ttf");
    src: url("../../../fonts/montSerrat/Montserrat-SemiBold.ttf");
    src: url("../../../fonts/montSerrat/Montserrat-SemiBoldItalic.ttf");
    src: url("../../../fonts/montSerrat/Montserrat-Thin.ttf");
    src: url("../../../fonts/montSerrat/Montserrat-ThinItalic.ttf");
}

@font-face {font-family: "playFairDisplay";
    src: url("../../../fonts/playFairDisplay/PlayfairDisplay-Black.ttf");
    src: url("../../../fonts/playFairDisplay/PlayfairDisplay-BlackItalic.ttf");
    src: url("../../../fonts/playFairDisplay/PlayfairDisplay-Bold.ttf");
    src: url("../../../fonts/playFairDisplay/PlayfairDisplay-BoldItalic.ttf");
    src: url("../../../fonts/playFairDisplay/PlayfairDisplay-ExtraBold.ttf");
    src: url("../../../fonts/playFairDisplay/PlayfairDisplay-ExtraBoldItalic.ttf");
    src: url("../../../fonts/playFairDisplay/PlayfairDisplay-Italic.ttf");
    src: url("../../../fonts/playFairDisplay/PlayfairDisplay-Medium.ttf");
    src: url("../../../fonts/playFairDisplay/PlayfairDisplay-MediumItalic.ttf");
    src: url("../../../fonts/playFairDisplay/PlayfairDisplay-Regular.ttf");
    src: url("../../../fonts/playFairDisplay/PlayfairDisplay-SemiBold.ttf");
    src: url("../../../fonts/playFairDisplay/PlayfairDisplay-SemiBoldItalic.ttf");

    //src: url("../../../fonts/playFairDisplay/PlayfairDisplay-Italic-VariableFont_wght.ttf");
    //src: url("../../../fonts/playFairDisplay/PlayfairDisplay-VariableFont_wght.ttf");
    
}
nav {
    div {
        
    color: red;
    }
}