/*
/** GRID for my skills

.skills {
    display: grid;
    width: auto;
    height: 40em;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    left: 2.5%;
    border-radius: 20px;
    background: white;
    box-shadow: 0 0 0 1px #e5ebf7;
    color: #141c3a;
    .ulDouble {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    ul {
        display: flex;
        flex-flow: column wrap;
        li {
            font-size: .8em;
        }
    }
}


*/